<div class="ui breadcrumb">
  <%= link_to 'My Courses', courses_path, class: 'section' %>
  <span class="divider">/</span>
  <%= link_to @course.name, course_path(@course), class: 'section' %>
  <span class="divider">/</span>
  <div class="active section"><%= @assignments.count %> Assignments</div>
</div>

<div class="ui divider"></div>

<h1><%= @course.name %> Assignments</h1>

<%= link_to 'New Assignment', new_course_assignment_path(params[:course_id]), class: 'ui right floated green button' %>

<div class="ui list">
  <% @assignments.each do |assignment| %>
    <%= link_to [assignment.course, assignment], class: 'item' do %>
      <i class="file outline icon"></i>
      <div class="content">
        <div class="header"><%= assignment.name %> (<%= assignment.category %>) on <%= Time.at(assignment.timestamp).strftime("%m/%d/%y") %></div>
        <div class="description">
          <% if assignment.graded %>
            You earned <%= assignment.score %> out of <%= assignment.max_score %> points on this assignment, and your letter grade is a <%= assignment.letter_grade %>.
          <% else %>
            This assignment has not been graded yet.
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<br />
