<div class="ui breadcrumb">
  <%= link_to 'My Courses', courses_path, class: 'section' %>
  <span class="divider">/</span>
  <%= link_to @course.name, course_path(@course), class: 'section' %>
  <span class="divider">/</span>
  <%= link_to "#{@course.assignments.count} Assignments", course_assignments_path(@course), class: 'section' %>
  <span class="divider">/</span>
  <div class="active section"><%= @assignment.name %> (<%= @assignment.category %>)</div>
</div>

<div class="ui divider"></div>

<h1 class="ui header">
  <i class="file outline icon"></i>
  <%= @assignment.name %> (<%= @assignment.category %>) on <%= Time.at(@assignment.timestamp).strftime("%m/%d/%y") %>
</h1>

<%= link_to 'Edit Assignment', edit_course_assignment_path(@assignment.course, @assignment), class: 'ui right floated blue button' %>

<h3 class="ui header">
  <i class="calculator icon"></i>
  Points: <%= @assignment.score %> out of <%= @assignment.max_score %>
</h3>

<h3 class="ui header">
  <i class="chart area icon"></i>
  Score: <%= (( @assignment.score.to_f / @assignment.max_score ) * 100 ).round(2) %>%
</h3>

<h3 class="ui header">
  <i class="book icon"></i>
  Letter Grade: <%= @assignment.letter_grade %>
</h3>

<h3 class="header">Comments:</h3>

<p><%= @assignment.comment %></p>