<p id="notice"><%= notice %></p>

<% if current_user.credential.nil? %>
  <div class="ui message">
    <div class="header">
      Connect iNow to your account
    </div>
    <p>Connect iNow to your account to get automatic grade updating. See your grades as soon as they get entered!</p>
    <%= link_to new_credential_path, class: 'ui green button' do %>
      Get Started
      <i class="right arrow icon"></i>
    <% end %>
  </div>
<% end %>

<h1>Courses</h1>

<%= link_to new_course_path, class: 'ui right floated green button' do %>
  New Course
  <i class="right arrow icon"></i>
<% end %>

<div class="ui divided link items">
  <% @courses.sort{|a, b| a.period <=> b.period }.each do |course| %>
    <%= link_to course, class: 'item' do %>
      <div class="content">
        <div class="header"><%= course.name %></div>
        <div class="description">Taught by <%= course.teacher %> during period <%= course.period %>.</div>
      </div>
      <div class="extra">
        <div class="ui grey label">
          <i class="file outline icon"></i>
          <%= course.assignments.length %> assignments
        </div>
        <div class="ui label green">
          <i class="chart area icon"></i>
          90% average
        </div>
        <%= link_to edit_course_path(course), class: 'ui right floated primary button' do %>
          <i class="left edit icon"></i>
          Edit Course
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
